.footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #313030;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Disposition horizontale */
  align-items: flex-start; /* Alignement vertical */
  width: 100%;
}

.contact-info, .link-info {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 400;
  color: #e4e4e4;
  display: flex;
  align-items: center;
}

.contact-info {
  display: flex;
  width: auto;
  /* background-color: #fff; */
  align-items: center; /* Aligne les images et le texte verticalement */
  margin: 5px 0; /* Espacement entre chaque contact */
}

.contact-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  align-items: center;
}

.contact-info-container {
  display: flex;
  /* padding: 100px; */
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: flex-start; /* Aligne à gauche */
  margin-bottom: 20px; /* Espace en bas si nécessaire */
}

.contact-info {
  margin: 5px 0; /* Espacement entre les informations de contact */
  font-size: 15px;
  font-weight: 400;
  color: #e4e4e4;
  display: flex;
  align-items: center;
}

.footer-container {
  text-align: left;
  margin-left: 100px; /* Centrer les liens utiles */
}
.contact-info-container h3{
  color: #3a9188;
  font-weight: bold;
  letter-spacing: 10px;
}
.footer-container h3 {
  color: #3a9188;
  font-weight: bold;
  letter-spacing: 10px;
}
.map-container {
  width: 100%
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #a1a1a1;
}

.footer-hr {
  width: 100%;
  border: none;
  border-top: 1px solid #3a9188;
  margin: 20px 0;
}

.btn-15 {
  background: #3a9188;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.btn-15:hover {
  background-color: #424e4d; /* Change on hover */
}
.scroll-to-top{
  width: 50px;
  margin-left: auto;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Empile les éléments sur les petits écrans */
    align-items: center; /* Centre tous les éléments */
  }

  .map-container {
    width: 100%; /* Prend toute la largeur sur les petits écrans */
    margin-left: 0; /* Supprime l'espace à gauche */
  }
}
