.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-y: hidden;
}

.text-container {
    width: 45%;
    padding: 20px;
    background: #3a9188;
    box-shadow: 0 4px 8px rgba(0, 0.1, 0.1, 0.2);
    border-radius: 8px;
}


.img-right {
    margin-left: 920px;
    position: relative;
    width: 300px;   
}

.minint {
    margin-bottom: 0;
    height: auto;
    display: block;
    margin-top: 50px;
}

