/* Conteneur principal pour la mise en page verticale */
.main-container {
  display: flex;
  flex-direction: column; /* Changer en colonne pour empiler les éléments verticalement */
  align-items: center; /* Centrer horizontalement les éléments */
  min-height: 90vh; /* Assurer que le conteneur prend toute la hauteur de la fenêtre */
  background-color: #ffffff; /* Fond blanc pour le conteneur principal */
  padding: 20px; /* Ajouter un peu de padding autour du conteneur */
}
.top-content {
  display: flex;
  align-items: center; /* Centrer verticalement l'image et le texte */
  margin-bottom: 20px; /* Espacement entre l'image/texte et le formulaire */
  width: 100%;
  justify-content: center;
  padding: 20px;
  margin-left: 30px; /* Centre le contenu horizontalement */
}

.top-left {
  display: flex;
  align-items: center;
  margin-right: -20rem; /* Ajustez cette valeur pour réduire l'espace entre l'image et le texte */
}

.top-img {
  width: 120px; /* Ajuster la taille de l'image selon vos besoins */
  height: auto;
}

.top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignement à gauche pour le texte */
}


.top-text {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.top-text strong {
  color : #3a9188
}
.top-copyright {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}

.container-login {
  padding: 40px;
  max-width: 430px;
  width: 100%;
  background-color: #fff; /* Fond blanc pour le conteneur de connexion */
  border-radius: 12px; /* Arrondir les coins du conteneur */
  box-shadow: 0 4px 8px rgba(0.5, 0.4, 0.5, 0.5); /* Ajouter une ombre légère */
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  margin-top : 50px
}

.title-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.title-login img {
  width: 8rem; 
  margin-top: -6rem;/* Réduire légèrement la taille du logo */
}

.link {
  font-family: 'Calibri';
  text-align: center;
  padding: 6px;
}

.link p {
  text-decoration: none;
}

.formContent {
  margin: 0;
  padding: 0;
}

.formContent .inputBox {
  position: relative;
  margin-bottom: 0;
}

.formContent .inputBox input {
  width: 100%;
  min-width: 20rem;
  padding: 5px 0; /* Agrandir le padding vertical */
  font-size: 16px;
  color: #3a9188;
  font-weight: 400;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #8f8d8d;
  outline: none;
}

.formContent .inputBox .toggle-visibility {
  position: absolute;
  top: 65%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #8f8d8d;
}

.formContent button {
  margin-left: 0;
  display: block;
  margin: 0 auto 20px;
  min-width: 150px; /* Agrandir légèrement la largeur du bouton */
  background: #3a9188;
  color: #fff;
  padding: 15px; /* Agrandir le padding */
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Calibri";
}

.formContent button:hover {
  background-color: #fff;
  color: #3a9188;
  cursor: pointer;
  border: 1px solid #3a9188;
}
.sweet-loading {
  width: 10px;
}
