/* TextComponent.css */
.text-container {
    display: flex; /* Utilise flexbox pour l'alignement */
    flex-direction: column; /* Aligne les éléments verticalement */
    color: white;
    padding: 30px;
    max-width: 400px;
    position: absolute; 
    left: 0;
    top: 40px;
    gap: 20px; /* Espacement de 20px entre les éléments */
    height: auto;
    overflow-y: hidden;
}


.text-container h2 {
    margin-bottom: 10px;
}

.text-container p {
    margin: 0;
}
.writer-container {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2c2c2c;
    text-align: center;
    margin-left : 950px;
    width : 200px;
    margin-top : 50px;
    height: auto;
}
/*  */
