/* TextComponent.css */
.text-container {
    color: white;
    padding: 30px;
    max-width: 400px;
    position: absolute; /* Fixed position to stay on the left */
    left: 0;
    height: auto;
    top: 40px;
  
}
.text-container:hover{
    box-shadow: -1px 15px 30px -12px rgb(26, 25, 25);
    cursor : pointer
}

.text-container h2 {
    margin-bottom: 10px;
}

.text-container p {
    margin: 0;
}
.writer-container {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2c2c2c;
    text-align: center;
    margin-left : 950px;
    width : 200px;
    margin-top : 50px;
    height: auto;
}
/*  */
