/* Vehicules.css */
.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}

.table-container {
    margin-top: 20px;
    width: 100%; /* Assure que le conteneur occupe toute la largeur disponible */
    max-width: 1200px; /* Fixer une largeur maximale si nécessaire */
    overflow-x: auto; /* Permet le défilement horizontal si le tableau dépasse la largeur */
}

.ant-table {
    width: 100%; /* Assure que le tableau occupe toute la largeur de son conteneur */
}

.ant-table-cell {
    white-space: nowrap; /* Empêche le retour à la ligne du texte */
    overflow: hidden; /* Cache le texte qui déborde */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) à la fin du texte qui dépasse */
}

.ant-table-thead > tr > th {
    white-space: nowrap; /* Empêche le retour à la ligne du texte des en-têtes */
    overflow: hidden; /* Cache le texte qui déborde */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) à la fin du texte des en-têtes qui dépasse */
}

.submit-button {
  background-color: #3a9188; /* Couleur de fond personnalisée */
  border: none; /* Couleur de bordure personnalisée */
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  color: #fff;
}

.ant-divider-vertical {
    height: 100%;
    border-left: 1px solid #ddd;
    margin: 0;
}

.ant-form-item {
    margin-bottom: 15px;
}
